ul.service-list {
	width: 100%; 
	list-style: none;
	display: inline-grid;
  grid-template-columns:  1fr 1fr 1fr 21fr;
  grid-gap: 20px;
  margin-bottom: 30px;
}

ul.service-list {
	display: flex;
	flex-direction: row;
}

ul.service-list li header {
	width: 100%;
	height: 60px;
	background-color: cover;
	border-radius: 2px;
}